<div id="productsList">
    <p id="log"></p>
    <h1>Products list to modified</h1>
    <div id="listproducts">
    </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>